<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<div class="container">
  <div class="background-images">
    <div class="image-container">
      <img class="left-image" src="assets/login-rectangle-uno.png" alt="image1">
      <img class="right-image" src="assets/login-rectangle-dos.png" alt="image2">
    </div>
  </div>
  <div class="content">
    <img src="assets/logo-open-mariva-rgb.png" alt="logo" class="custom-logo" style="margin-top: 20px;">
    <h2 style="font-family: Lato; font-size: 26px; font-weight: 600; line-height: 17px; letter-spacing: 0em; text-align: left; margin-top: 20px;">Registro</h2>
    <form (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="fullName" class="form-label">Nombre completo</label>
        <input type="text" class="form-control larger-input" id="fullName" name="fullName" required>
      </div>
      <div class="mb-3">
        <label for="company" class="form-label">Empresa</label>
        <input type="text" class="form-control larger-input" id="company" name="company" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control larger-input" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono</label>
        <input type="tel" class="form-control larger-input" id="phone" name="phone" required placeholder="+54(0000) 000-0000" minlength="7" maxlength="11">
      </div>
      <button type="submit" class="custom-button">
        <img src="assets/boton-finalizar-registro.png" alt="boton-finalizar-registro" style="padding: 1px; border-radius: 8px;">
      </button>
    </form>
    <p style="font-family: Lato; font-size: 14px; font-weight: 600; line-height: 17px; letter-spacing: 0em; text-align: left; margin-top: 400px;">Políticas de privacidad | Términos y condiciones | Soporte</p>
  </div>
</div>
