<div class="navigation-bar">
    <div class="logo-container">
        <img src="assets/logo-openmariva-blanco.png" alt="OpenMariva Logo" width="188px" height="28px">
    </div>
    <mat-accordion class="accordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header class="menu-item" (click)="toggleSubMenu('gestion')">
                <img src="assets/cuenta-gestion.png" alt="Gestión Icon" width="16px" height="16px">
                <div class="menu-title">Gestión de cuentas</div>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/cuentaslistado">Consulta de cuentas (listado)</a>
                <a mat-list-item routerLink="/cuentasid">Consulta de cuentas(ID)</a>
                <a mat-list-item routerLink="/movimientos">Consulta de movimientos</a>
                <a mat-list-item routerLink="/cbucvu">Consulta de CBU/CVU</a>
                <a mat-list-item routerLink="/bancarizado">Consulta de bancarizado</a>
            </mat-nav-list>
            <div class="submenu" *ngIf="showSubMenu['gestion']">
                <div class="submenu-item">Consulta de cuentas(listado)</div>
                <div class="submenu-item">Consulta de cuentas(ID)</div>
                <div class="submenu-item">Consulta de movimientos</div>
                <div class="submenu-item">Consulta de CBU/CVU</div>
                <div class="submenu-item">Consulta de bancarizado</div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="menu-item" (click)="toggleSubMenu('inversiones')">
        <img src="assets/inversiones.png" alt="Inversiones Icon" width="16px" height="16px">
        <div class="menu-title">Inversiones</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('recaudaciones')">
        <img src="assets/recaudaciones.png" alt="Recaudaciones Icon" width="16px" height="16px">
        <div class="menu-title">Recaudaciones</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('transferencias')">
        <img src="assets/transferencias.png" alt="Transferencias Icon" width="16px" height="16px">
        <div class="menu-title">Transferencias</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('echeqs')">
        <img src="assets/echeqs.png" alt="Echeqs Icon" width="16px" height="16px">
        <div class="menu-title">ECheqs</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('billetera')">
        <img src="assets/billetera.png" alt="Billetera Icon" width="16px" height="16px">
        <div class="menu-title">Billetera</div>
    </div>
    <div class="logout-container">
        <img src="assets/cerrar-sesion.png" alt="Cerrar Sesión Icon" width="16px" height="16px">
        <div class="logout-button">
            Cerrar Sesión
        </div>
    </div>
</div>
