<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<div class="container">
    <div class="background-images">
        <div class="image-container">
            <img class="left-image" src="assets/login-rectangle-uno.png" alt="image1">
            <img class="right-image" src="assets/login-rectangle-dos.png" alt="image2">
        </div>
    </div>
    <div class="content">
        <img src="assets/recovery-image.png" alt="recovery-image" class="recovery-image">
        <button class="back-to-login-button" (click)="redirectToLogin()">Volver al Login</button>
        <p class="footer-text" style="margin-right: 150px;">Políticas de privacidad | Términos y condiciones | Soporte</p>
    </div>
</div>
