<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<div class="navigation-bar">
    <div class="logo-container">
        <img src="assets/logo-openmariva-blanco.png" alt="OpenMariva Logo" width="188px" height="28px">
    </div>
    <mat-accordion class="accordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header class="menu-item" (click)="toggleSubMenu('gestion')">
                <img src="assets/cuenta-gestion.png" alt="Gestión Icon" width="16px" height="16px">
                <div class="menu-title">Gestión de cuentas</div>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="/cuentaslistado">Consulta de cuentas (listado)</a>
                <a mat-list-item routerLink="/cuentasid">Consulta de cuentas(ID)</a>
                <a mat-list-item routerLink="/movimientos">Consulta de movimientos</a>
                <a mat-list-item routerLink="/cbucvu">Consulta de CBU/CVU</a>
                <a mat-list-item routerLink="/bancarizado">Consulta de bancarizado</a>
            </mat-nav-list>
            <div class="submenu" *ngIf="showSubMenu['gestion']">
                <div class="submenu-item">Consulta de cuentas(listado)</div>
                <div class="submenu-item">Consulta de cuentas(ID)</div>
                <div class="submenu-item">Consulta de movimientos</div>
                <div class="submenu-item">Consulta de CBU/CVU</div>
                <div class="submenu-item">Consulta de bancarizado</div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="menu-item" (click)="toggleSubMenu('inversiones')">
        <img src="assets/inversiones.png" alt="Inversiones Icon" width="16px" height="16px">
        <div class="menu-title">Inversiones</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('recaudaciones')">
        <img src="assets/recaudaciones.png" alt="Recaudaciones Icon" width="16px" height="16px">
        <div class="menu-title">Recaudaciones</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('transferencias')">
        <img src="assets/transferencias.png" alt="Transferencias Icon" width="16px" height="16px">
        <div class="menu-title">Transferencias</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('echeqs')">
        <img src="assets/echeqs.png" alt="Echeqs Icon" width="16px" height="16px">
        <div class="menu-title">ECheqs</div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('billetera')">
        <img src="assets/billetera.png" alt="Billetera Icon" width="16px" height="16px">
        <div class="menu-title">Billetera</div>
    </div>
    <div class="logout-container">
        <img src="assets/cerrar-sesion.png" alt="Cerrar Sesión Icon" width="16px" height="16px">
        <div class="logout-button">
            Cerrar Sesión
        </div>
    </div>
    <div class="subtitulo">
        Consulta de cuentas
    </div>
    <div class="texto-centralizado">
        Provee información actualizada sobre el estado de sus cuentas, mostrando entre otros datos información relacionada a los saldos, el CBU, el alias, etc.
    </div>
    <div class="footer-text">
        Política de privacidad | Términos y condiciones | Soporte
    </div>
    <button class="get-button">GET</button>
    <input type="text" class="url-input" placeholder="https://sandbox.mariva.com.ar/v1/banks/:bank_id/accounts">
    <div class="request-text">
        REQUEST
    </div>
    <input type="text" class="header-input" placeholder="Header">
    <div class="body-text">
        Body
    </div>
    <input type="text" class="header-input" placeholder="Body">
    <div class="response-text">
        RESPONSE
    </div>
    <input type="text" class="header-input" placeholder="Body">
</div>
