.navigation-bar {
    width: 248px;
    height: 768px;
    display: flex;
    flex-direction: column;
    background-color: #3A8AAD;
}

.logo-container {
    width: 248px;
    padding: 12px 16px;
}

.logo-container img {
    width: 188px;
    height: 28px;
}

.menu-item {
    width: 100%;
    padding: 12px 16px;
    background-color: #3A8AAD;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative; 
}

.menu-title {
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 10px;
}

.submenu {
    display: none;
    flex-direction: column;
    background-color: #3A8AAD;
    padding: 8px 0;
    position: fixed;
    top: calc(100% + 8px); 
    left: 0;
    width: 100%;
    z-index: 1;
}

.menu-item:hover .submenu {
    display: flex;
    position: absolute;
}

.menu-item + .menu-item {
    margin-top: 8px;
}

.subtitulo {
    width: 221px;
    height: 31px;
    top: 92px;
    left: calc(8px + 296px);
    font-family: Lato;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E4287;
    position: absolute;
}

.texto-centralizado {
    width: 1022px;
    height: 96px;
    top: 139px;
    left: 296px;
    padding: 24px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    position: absolute;
}

.campo {
    width: 227px;
    height: 22px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: white;
    color: #3A8AAD;
    margin-bottom: 30px;
}

.logout-container {
    width: 248px;
    height: 40px;
    padding: 12px 16px;
    background-color: #3A8AAD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}

.logout-button {
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 10px;
}

.accordion {
    width: 100%;
    background-color: #3A8AAD;
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.footer-text {
    position: absolute;
    bottom: -130px;
    right: 0;
    width: 320px;
    height: 14px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color: #5D5F66;
    padding: 8px;
    box-sizing: border-box;
}


.get-button {
    width: 60px;
    height: 37px;
    padding: 10px;
    border-radius: 8px 0px 0px 0px;
    color: white;
    background: #1E4287;
    position: absolute;
    top: 303px; /* Ajustado para bajar más abajo */
    left: 296px;
}

.url-input {
    width: 952px;
    height: 37px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0em;
    text-align: left;
    background: white;
    position: absolute;
    top: 303px; /* Ajustado para bajar más abajo */
    left: 366px;
}

.request-text {
    width: 81px;
    height: 22px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #1E4287;
    position: absolute;
    top: 372px; /* Ajustado para bajar más abajo */
    left: 296px;
}

.header-input {
    width: 973px;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: #35AAB7;
    position: absolute;
    top: 413px; /* Ajustado para bajar más abajo */
    left: 296px;
}

.body-text {
    width: 183.83px;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: #35AAB7;
    position: absolute;
    top: 459px; /* Ajustado para bajar más abajo */
    left: 296px;
}

.response-text {
    width: 91px;
    height: 22px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #1E4287;
    position: absolute;
    top: 518px; /* Ajustado para bajar más abajo */
    left: 296px;
}
.response-body {
    width: 183.83px;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: #35AAB7;
    position: absolute;
    top: 559px; /* Ajustado para bajar más abajo */
    left: 296px;
}