<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<div class="navigation-bar">
    <div class="logo-container">
        <img src="assets/logo-openmariva-blanco.png" alt="OpenMariva Logo" width="188px" height="28px">
    </div>
    <div class="menu-item" (click)="toggleSubMenu('gestion')">
        <img src="assets/cuenta-gestion.png" alt="Gestión Icon" width="16px" height="16px">
        <div class="menu-title">Gestión de cuentas</div>
        <div class="submenu" *ngIf="showSubMenu['gestion']">
            <div class="submenu-item">Consulta de cuentas(listado)</div>
            <div class="submenu-item">Consulta de cuentas(ID)</div>
            <div class="submenu-item">Consulta de movimientos</div>
            <div class="submenu-item">Consulta de CBU/CVU</div>
            <div class="submenu-item">Consulta de bancarizado</div>
        </div>
    </div>
    <div class="menu-item" (click)="toggleSubMenu('inversiones')">
        <img src="assets/inversiones.png" alt="Inversiones Icon" width="16px" height="16px">
        <div class="menu-title">Inversiones</div>
        <!-- Submenu items go here -->
    </div>
    <div class="menu-item" (click)="toggleSubMenu('recaudaciones')">
        <img src="assets/recaudaciones.png" alt="Recaudaciones Icon" width="16px" height="16px">
        <div class="menu-title">Recaudaciones</div>
        <!-- Submenu items go here -->
    </div>
    <div class="menu-item" (click)="toggleSubMenu('transferencias')">
        <img src="assets/transferencias.png" alt="Transferencias Icon" width="16px" height="16px">
        <div class="menu-title">Transferencias</div>
        <!-- Submenu items go here -->
    </div>
    <div class="menu-item" (click)="toggleSubMenu('echeqs')">
        <img src="assets/echeqs.png" alt="Echeqs Icon" width="16px" height="16px">
        <div class="menu-title">ECheqs</div>
        <!-- Submenu items go here -->
    </div>
    <div class="menu-item" (click)="toggleSubMenu('billetera')">
        <img src="assets/billetera.png" alt="Billetera Icon" width="16px" height="16px">
        <div class="menu-title">Billetera</div>
        <!-- Submenu items go here -->
    </div>
</div>
<div class="subtitulo">
    Gestión de cuentas
</div>
<div class="texto-centralizado">
    Este set de APIs tiene como principal objetivo proveer información actualizada sobre el estado de la/s cuenta/s de nuestros clientes.
</div>
<ul class="lista-campos">
    <li class="campo">Consulta de cuentas (listado)</li>
    <li class="campo">Consulta de cuentas (ID)</li>
    <li class="campo">Consulta de movimientos</li>
    <li class="campo">Consulta de CBU/CVU</li>
    <li class="campo">Consulta de bancarizado</li>
</ul>
<div class="logout-container">
    <img src="assets/cerrar-sesion.png" alt="Cerrar Sesión Icon" width="16px" height="16px">
    <div class="logout-button">
        Cerrar Sesión
    </div>
</div>
